<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.masterdata.mapper.CusMasterCustomerMapper">
    
    <resultMap type="CusMasterCustomer" id="CusMasterCustomerResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="registerLocation"    column="register_location"    />
        <result property="location"    column="location"    />
        <result property="postCode"    column="post_code"    />
        <result property="legalPerson"    column="legal_person"    />
        <result property="registeredCapital"    column="registered_capital"    />
        <result property="fax"    column="fax"    />
        <result property="website"    column="website"    />
        <result property="contactsName"    column="contacts_name"    />
        <result property="contactsPhone"    column="contacts_phone"    />
        <result property="contactsEmail"    column="contacts_email"    />
        <result property="contactsOfficeLocation"    column="contacts_office_location"    />
        <result property="bankName"    column="bank_name"    />
        <result property="bankAccount"    column="bank_account"    />
        <result property="taxNumber"    column="tax_number"    />
        <result property="invoiceAddress"    column="invoice_address"    />
        <result property="invoiceType"    column="invoice_type"    />
        <result property="recipientName"    column="recipient_name"    />
        <result property="recipientPhone"    column="recipient_phone"    />
        <result property="recipientAddress"    column="recipient_address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCusMasterCustomerVo">
        select id, code, name, register_location, location, post_code, legal_person, registered_capital, fax, website, contacts_name, contacts_phone, contacts_email, contacts_office_location, bank_name, bank_account, tax_number, invoice_address, invoice_type, recipient_name, recipient_phone, recipient_address, create_by, create_time, update_by, update_time from cus_master_customer
    </sql>

    <!--    check wether customer exists by  code-->
    <select id="selectCustomerMasterByCode" parameterType="String" resultMap="CusMasterCustomerResult">
        <include refid="selectCusMasterCustomerVo"/>
        where code = #{code}
    </select>

    <select id="selectCusMasterCustomerList" parameterType="CusMasterCustomer" resultMap="CusMasterCustomerResult">
        <include refid="selectCusMasterCustomerVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectCusMasterCustomerById" parameterType="Long" resultMap="CusMasterCustomerResult">
        <include refid="selectCusMasterCustomerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCusMasterCustomer" parameterType="CusMasterCustomer" useGeneratedKeys="true" keyProperty="id">
        insert into cus_master_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="registerLocation != null">register_location,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="postCode != null">post_code,</if>
            <if test="legalPerson != null and legalPerson != ''">legal_person,</if>
            <if test="registeredCapital != null">registered_capital,</if>
            <if test="fax != null">fax,</if>
            <if test="website != null">website,</if>
            <if test="contactsName != null and contactsName != ''">contacts_name,</if>
            <if test="contactsPhone != null">contacts_phone,</if>
            <if test="contactsEmail != null">contacts_email,</if>
            <if test="contactsOfficeLocation != null">contacts_office_location,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="bankAccount != null and bankAccount != ''">bank_account,</if>
            <if test="taxNumber != null and taxNumber != ''">tax_number,</if>
            <if test="invoiceAddress != null and invoiceAddress != ''">invoice_address,</if>
            <if test="invoiceType != null">invoice_type,</if>
            <if test="recipientName != null">recipient_name,</if>
            <if test="recipientPhone != null">recipient_phone,</if>
            <if test="recipientAddress != null">recipient_address,</if>
            create_by,
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="registerLocation != null">#{registerLocation},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="postCode != null">#{postCode},</if>
            <if test="legalPerson != null and legalPerson != ''">#{legalPerson},</if>
            <if test="registeredCapital != null">#{registeredCapital},</if>
            <if test="fax != null">#{fax},</if>
            <if test="website != null">#{website},</if>
            <if test="contactsName != null and contactsName != ''">#{contactsName},</if>
            <if test="contactsPhone != null">#{contactsPhone},</if>
            <if test="contactsEmail != null">#{contactsEmail},</if>
            <if test="contactsOfficeLocation != null">#{contactsOfficeLocation},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="bankAccount != null and bankAccount != ''">#{bankAccount},</if>
            <if test="taxNumber != null and taxNumber != ''">#{taxNumber},</if>
            <if test="invoiceAddress != null and invoiceAddress != ''">#{invoiceAddress},</if>
            <if test="invoiceType != null">#{invoiceType},</if>
            <if test="recipientName != null">#{recipientName},</if>
            <if test="recipientPhone != null">#{recipientPhone},</if>
            <if test="recipientAddress != null">#{recipientAddress},</if>
            #{createBy},
            sysdate()
         </trim>
    </insert>

    <update id="updateCusMasterCustomer" parameterType="CusMasterCustomer">
        update cus_master_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="registerLocation != null">register_location = #{registerLocation},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="postCode != null">post_code = #{postCode},</if>
            <if test="legalPerson != null and legalPerson != ''">legal_person = #{legalPerson},</if>
            <if test="registeredCapital != null">registered_capital = #{registeredCapital},</if>
            <if test="fax != null">fax = #{fax},</if>
            <if test="website != null">website = #{website},</if>
            <if test="contactsName != null and contactsName != ''">contacts_name = #{contactsName},</if>
            <if test="contactsPhone != null">contacts_phone = #{contactsPhone},</if>
            <if test="contactsEmail != null">contacts_email = #{contactsEmail},</if>
            <if test="contactsOfficeLocation != null">contacts_office_location = #{contactsOfficeLocation},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="bankAccount != null and bankAccount != ''">bank_account = #{bankAccount},</if>
            <if test="taxNumber != null and taxNumber != ''">tax_number = #{taxNumber},</if>
            <if test="invoiceAddress != null and invoiceAddress != ''">invoice_address = #{invoiceAddress},</if>
            <if test="invoiceType != null">invoice_type = #{invoiceType},</if>
            <if test="recipientName != null">recipient_name = #{recipientName},</if>
            <if test="recipientPhone != null">recipient_phone = #{recipientPhone},</if>
            <if test="recipientAddress != null">recipient_address = #{recipientAddress},</if>
            update_by = #{updateBy},
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCusMasterCustomerById" parameterType="Long">
        delete from cus_master_customer where id = #{id}
    </delete>

    <delete id="deleteCusMasterCustomerByIds" parameterType="String">
        delete from cus_master_customer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据导入客户名称，取得客户编码 -->
    <select id="getClientIds" parameterType="String" resultMap="CusMasterCustomerResult">
        select base_id, company_name from master_data_client_info where company_name in
        <foreach item="companyName" collection="array" open="(" separator="," close=")">
            #{companyName}
        </foreach>
    </select>
</mapper>