<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oms.mapper.CusOmsPOMapper">
    
    <resultMap type="CusOmsPO" id="CusOmsPOResult">
        <result property="id"    column="id"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="status"    column="status"    />
        <result property="type"    column="type"    />
        <result property="contractId"    column="contract_id"    />
        <result property="handledBy"    column="handled_by"    />
        <result property="department"    column="department"    />
        <result property="businessDate"    column="business_date"    />
        <result property="materialName"    column="material_name"    />
        <result property="unit"    column="unit"    />
        <result property="quantity"    column="quantity"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="deliveryDate"    column="delivery_date"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCusOmsPOVo">
        select id, order_number, status, type, contract_id, handled_by, department, business_date, material_name, unit, quantity, unit_price, supplier_code, delivery_date, remark, create_by, create_time, update_by, update_time from cus_oms_po
    </sql>

    <select id="selectCusOmsPOList" parameterType="CusOmsPO" resultMap="CusOmsPOResult">
        <include refid="selectCusOmsPOVo"/>
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and order_number like concat('%', #{orderNumber}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="contractId != null  and contractId != ''"> and contract_id like concat('%', #{contractId}, '%')</if>
            <if test="handledBy != null  and handledBy != ''"> and handled_by = #{handledBy}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code like concat('%', #{supplierCode}, '%')</if>
        </where>
    </select>
    
    <select id="selectCusOmsPOById" parameterType="Long" resultMap="CusOmsPOResult">
        <include refid="selectCusOmsPOVo"/>
        where id = #{id}
    </select>

    <select id="getCurrentPONumber" resultType="String">
        select max(order_number) from cus_oms_po
    </select>
        
    <insert id="insertCusOmsPO" parameterType="CusOmsPO" useGeneratedKeys="true" keyProperty="id">
        insert into cus_oms_po
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="status != null">status,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="contractId != null">contract_id,</if>
            <if test="handledBy != null">handled_by,</if>
            <if test="department != null">department,</if>
            <if test="businessDate != null">business_date,</if>
            <if test="materialName != null and materialName != ''">material_name,</if>
            <if test="unit != null and unit != ''">unit,</if>
            <if test="quantity != null">quantity,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="remark != null">remark,</if>
            create_by,
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="status != null">#{status},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="contractId != null">#{contractId},</if>
            <if test="handledBy != null">#{handledBy},</if>
            <if test="department != null">#{department},</if>
            <if test="businessDate != null">#{businessDate},</if>
            <if test="materialName != null and materialName != ''">#{materialName},</if>
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="supplierCode != null and supplierCode != ''">#{supplierCode},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="remark != null">#{remark},</if>
            #{createBy},
            sysdate()
         </trim>
    </insert>

    <update id="updateCusOmsPO" parameterType="CusOmsPO">
        update cus_oms_po
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="status != null">status = #{status},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="contractId != null">contract_id = #{contractId},</if>
            <if test="handledBy != null">handled_by = #{handledBy},</if>
            <if test="department != null">department = #{department},</if>
            <if test="businessDate != null">business_date = #{businessDate},</if>
            <if test="materialName != null and materialName != ''">material_name = #{materialName},</if>
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="supplierCode != null and supplierCode != ''">supplier_code = #{supplierCode},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_by = #{updateBy},
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCusOmsPOById" parameterType="Long">
        delete from cus_oms_po where id = #{id}
    </delete>

    <delete id="deleteCusOmsPOByIds" parameterType="String">
        delete from cus_oms_po where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>